$backgroundColor: #f8f8f8;
$toolbarColor: #ffffff;
$initialWidth: 1200px;
$borderRadius: 6px;
$fontSize: 16px;
$fontWeight: 400;
$fontColor: #444444;
$colorSecondary: #00ACEE;
$borderColor: rgba(0,0,0,.12);