$backgroundColor: #E5E5E5;
$toolbarColor: #ffffff;
$initialWidth: 1200px;
$borderRadius: 3px;
$fontSize: 16px;
$fontWeight: 400;
$fontColor: #8A8A8A;
$colorSecondary: #00A5EC;
$borderColor: rgba(0,0,0,.12);